:root {
    --black: #000;
    --white: #fff;
    --veige: #f5f5dc;
    --violet: #480885;
    --ceroP: 0;
    --ceroM: 0;
    --typeLetter: Verdana, sans-serif;
    --sizerC: center;
    --sizeL: left;
    --sizeR: right;
    --none: none;
    --spaceT: 100%;
    --spaceM: 50%;
    --part0: 0rem;
    --partM: 0.5rem;
    --part1: 1rem;
    --part2: 2rem;
    --part3: 3rem;
    --border: 1px solid;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #000;
    --white: #fff;
    --color-link: #d7b8ff;
    --color-focus: #d7b8ff;
  }
}

* {
    padding: var(--ceroP);
    margin: var(--ceroM);
    box-sizing: border-box;
}

body {

    a {
        color: var(--white);
        text-decoration: var(--none);
        &:hover {
            color: var(--veige);
            text-decoration: underline;
        }
    }

    ul {
        li {
            border-bottom: var(--border);
            margin: var(--part3) var(--part3);
            
            h3 {
                margin-bottom: var(--part1);
            }
            
            p {
                margin-bottom: var(--part1);
            }
        }
    }

    background-color: var(--black);
    color:var(--white);
    font-family: var(--typeLetter);

    header {
        background-color: var(--violet);
        text-align: var(--sizerC);
        padding: var(--part2) var(--part0) var(--part2) var(--part0);

        h1 {
            margin-bottom: var(--part3);
        }

        nav {
            display: flex;
            justify-content: space-around;
            
            ul {
                width: var(--spaceT);
                display: flex;
                justify-content: space-around;
                list-style: var(--none);
            }
        }
    }

    main {
        section {
            margin: var(--part0) var(--part0) var(--part3) var(--part0);

            
            h2 {
                padding: var(--part3) var(--part0) var(--part1) var(--part3);
                background-color: var(--violet);
            }
            .txt-profile {
                width: 75%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                margin: var(--part2) var(--part0);
            }
            address {
                display: flex;
                justify-content: space-around;
            }
            .list-experience {
                li {
                    p:not(:last-of-type) {
                        margin: var(--part2) var(--part0);
                    }
                    p:last-of-type {
                        width: 75%;
                    }

                    img {
                        position: relative;
                        left: 90%;
                        transform: translateX(-90%) translateY(-75%);
                        width: 150px;
                        height: 100px;
                    }
                }
            }
        }
        .skills {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            table {
                border-top: var(--border);

                caption {
                    border-top: var(--border);
                    padding: var(--part2) var(--part0);
                    font-size: var(--part2);
                }

                thead {
                    tr {
                        th {
                            border-bottom: var(--border);
                            padding: var(--part1) var(--part0);
                        }
                    }
                }
                tbody {
                    tr {
                        th{
                            border-bottom: var(--border);
                            text-align: var(--sizerC);
                            padding: var(--partM) var(--part0);
                        }
                        td{
                            border-bottom: var(--border);
                            text-align: var(--sizerC);
                            padding: var(--partM) var(--part0);
                        }
                    }
                }
            }
        }
    }

    footer {
        text-align: var(--sizeR);
        font-size: var(--partM);
    }
}