:root {
    --blackK: #000;
    --whiteK: #fff;
    --veige: #f5f5dc;
    --violet: #480885;
    --ceroP: 0;
    --ceroM: 0;
    --typeLetter: Verdana, sans-serif;
    --sizerC: center;
    --sizeL: left;
    --sizeR: right;
    --none: none;
    --spaceT: 100%;
    --spaceM: 50%;
    --part0: 0rem;
    --partM: 0.5rem;
    --part1: 1rem;
    --part2: 2rem;
    --part3: 3rem;
    --part4: 4rem;
    --part5: 5rem;
    --border: 1px solid;
}
body {
    background-color: var(--blackK);
    color:var(--whiteK);
    padding: var(--ceroP);
    margin: var(--ceroM);
    box-sizing: border-box;
    font-family: var(--typeLetter);

    header {
        background-color: var(--violet);
        text-align: var(--sizerC);

        nav {
            display: flex;
            justify-content: space-around;
            
            ul {
                width: var(--spaceT);
                display: flex;
                justify-content: space-around;
                list-style: var(--none);
                
                li {
                    a {
                        color: var(--whiteK);
                        text-decoration: var(--none);

                        &:hover {
                            color: var(--veige);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            margin: var(--part2) var(--part0) var(--part5) var(--part0);
            
            h2 {
                padding: var(--part0) var(--part3);
                background-color: var(--violet);
            }
            .txt-profile {
                padding: var(--part0) var(--part2);
            }
            address {
                display: flex;
                justify-content: space-around;
                
                p {
                    a {
                        color: var(--whiteK);
                        text-decoration: var(--none);
                        &:hover {
                            color: var(--veige);
                            text-decoration: underline;
                        }
                    }
                }
            }

            .list-education {
                li {
                    border-bottom: var(--border);
                    margin: var(--part3) var(--part3) var(--part0) ;
                }
            }
            .list-experience {
                li {
                    border-bottom: var(--border);
                    margin: var(--part3) var(--part3) var(--part0) ;
                }
            }
        }
        .skills {
            display: flex;
            justify-content: space-around;
            flex-direction: column;

            table {
                border-top: var(--border);

                caption {
                    border-top: var(--border);
                    padding: var(--part2) var(--part0);
                    font-size: var(--part2);
                }

                thead {
                    tr {
                        th {
                            border-bottom: var(--border);
                            padding: var(--part1) var(--part0);
                        }
                    }
                }
                tbody {
                    tr {
                        th{
                            border-bottom: var(--border);
                            text-align: var(--sizerC);
                            padding: var(--partM) var(--part0);
                        }
                        td{
                            border-bottom: var(--border);
                            text-align: var(--sizerC);
                            padding: var(--partM) var(--part0);
                        }
                    }
                }
            }
        }
    }

    footer {
        text-align: var(--sizeR);
        font-size: var(--partM);
    }
}